#logosoa{
    width: 40px;
}
.main{
    border: 2px solid ;
    height: 100vh;
   
    background: linear-gradient(rgba(5, 48, 28, 0.938),rgba(115, 138, 216, 0.575)) ,url("WhatsApp\ Image\ 2022-01-23\ at\ 10.53.04\ AM\ \(2\).jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.smal{
    color: rgb(255, 255, 255);
    margin-top: 100px;
   
    text-align: center;
}
.pp{
    font-size: 270%;
}

.po{
    font-size: 310% ;
}
.adm{
    text-decoration: none;
    color: rgb(255, 255, 255);  
    position: absolute;
    right: 10px;
    top: 70px;
}
.adm:hover{
    color: rgb(236, 215, 215);  
}
.thy{
    text-align: center;
    background-color: rgb(235, 235, 235);
}
.thy:hover{
    background-color: rgb(189, 189, 189);
}
.footer{
    width: 100%;
   
    position: static;
    bottom: 0;
    text-align: center;
    font-size: large;
    text-decoration: none;
    color: #04867cfb;;
}
i{
    margin: 10px;  
    padding: 5px;
    border-radius: 5px;
    color: black;
}
i:hover{
    background-color: #04867cfb;
}
.lop{
    font-size: small;
}
.rankings{
   
    background-color: rgba(71, 70, 70, 0.438);
}
.card{
   
   height: 100%;
   border: 5px;
}
.CardA{
   color: rgb(255, 255, 255); 
   background:  linear-gradient(rgba(5, 48, 28, 0.938),rgba(115, 138, 216, 0.575))  ,url(mmm.jpeg);
   background-size: cover;
   background-attachment: fixed;
}
.CardB{
    color: rgb(255, 255, 255); 
    background:  linear-gradient(rgba(5, 48, 28, 0.938),rgba(115, 138, 216, 0.575))  ,url(WhatsApp\ Image\ 2022-01-23\ at\ 10.53.04\ AM\ \(2\).jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.CardC{
    color: rgb(255, 255, 255); 
    background:  linear-gradient(rgba(5, 48, 28, 0.938),rgba(115, 138, 216, 0.575))  ,url(WhatsApp\ Image\ 2022-01-23\ at\ 10.53.04\ AM\ \(3\).jpeg);
    background-size: cover;
    background-attachment: fixed;
   
}
.CardD{
    color: rgb(255, 255, 255); 
    background:  linear-gradient(rgba(5, 48, 28, 0.938),rgba(115, 138, 216, 0.575))  ,url(WhatsApp\ Image\ 2022-01-23\ at\ 10.53.04\ AM\ \(4\).jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.fa-arrow-up:hover{
    background-color: #04867cfb;
}
.apple{
    margin-top: 70px;
    border-radius: 1 6px;
    background-color: #04867bc2; 
    color: beige;
    text-align: center;
    
}
#loc{
    text-decoration: none;
    color: azure;
}
#loc:hover{
    color: rgb(0, 0, 0);
}
.qp{
    color: azure; 
    font-size: large;
}